@import "../../scss/variables";

table {
  border-collapse: collapse;
  width: 100%;

  th {
    color: $black;
    text-align: left;
  }

  th,
  td {
    border: 1px solid $gray;
    padding: 8px;
  }

  thead th {
    width: 25%;
  }

  .delete {
    button {
      border: none;
      background-color: transparent;
      text-decoration: underline;
      color: $error;
      font-size: $font-size;
    }
  }
}
