$font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$bg-color: #fafafa;
$font-size: 16px;
$gray: #eeeeee;
$line-height: 1.5;
$font-weight: 400;
$white: #ffffff;
$black: #000000;
$error: #b5241e;
$info: #3392dd;
$error-container: #f9dfdc;
$border-radius: 4px;
$breakpoint-tablet: 768px;
$purple: #4e45e4;
$text-color: #737b86;
